@import "../variables";
@import "../mixins";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  // Using your Figma tertiary red (#ec1f36)
  background-color: $color-brand-tertiary;
  padding: $spacing-xl $spacing-md;
  min-height: 140px;
  box-sizing: border-box;
}

.countdownInner {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  max-width: 980px;
  width: 100%;
}

.card {
  background: $color-neutral-white-01;
  border-radius: 10px;
  min-width: 92px;
  padding: 16px 53px;
  text-align: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 210px;
  // Use your custom mixin shortcut
  @include media("sm", "down") {
    min-width: 70px;
    padding: 10px 8px;
    border-radius: 8px;
  }
}

.value {
  font-family: $font-family-primary;
  font-size: 48px; // Using global font size

  color: $color-text-dark;

  text-align: center;
  margin: 0;

  font-weight: 700;
  line-height: 100%; /* 48px */
  @include media("sm", "down") {
    font-size: 18px;
  }
}

.label {
  font-family: $font-family-primary;
  font-size: 20px;
  margin: 0;
  color: $color-text-light;
  // margin-top: 8px;

  @include media("sm", "down") {
    font-size: 16px;
    margin-top: 4px;
  }
}
